C Files/DataChunkReaderWriter/Debug/
C Files/Debug/
C Files/.vs/DataChunkReaderWriter/v14/.suo
C Files/DataChunkReaderWriter.VC.db
Assembly Files/AverageOfChunks.L68
Assembly Files/AverageOfChunks.S68
C Files/DataChunkReaderWriter/DataChunkReaderWriter.vcxproj.user
